$lightPrimary: lighten(rgb(51, 122, 183), 50%);
$darkPrimary: darken(rgb(51,122,183), 15%);
$infoColor: rgb(49, 112, 143);
$widgetIcon: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%22463.3%20227.2%2052.8%2054.5%22%20enable-background%3D%22new%20463.3%20227.2%2052.8%2054.5%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20opacity%3D%220.48%22%20fill%3D%22none%22%20d%3D%22M497.8%2C248.7c-0.9-1.3-2.1-2.5-3.6-3.1c-1.4-0.6-3.1-0.9-4.7-0.7c-1.6%2C0.2-3.1%2C0.9-4.3%2C2%0D%0A%09%09c-1.2%2C1.1-2.1%2C2.5-2.6%2C4c-0.4%2C1.5-0.4%2C3.2%2C0%2C4.7c0.5%2C1.5%2C1.3%2C2.9%2C2.6%2C4c1.2%2C1.1%2C2.7%2C1.8%2C4.3%2C2c1.6%2C0.3%2C3.3%2C0%2C4.7-0.7%0D%0A%09%09c1.5-0.7%2C2.7-1.8%2C3.6-3.1c0.9-1.4%2C1.3-2.9%2C1.3-4.5C499.1%2C251.6%2C498.7%2C250%2C497.8%2C248.7z%22/%3E%0D%0A%09%3Cpath%20opacity%3D%220.48%22%20fill%3D%22none%22%20d%3D%22M500.4%2C247c-1.2-1.8-2.9-3.3-4.9-4.2c-2-0.9-4.2-1.3-6.4-0.9c-2.2%2C0.3-4.2%2C1.2-5.9%2C2.7%0D%0A%09%09c-1.7%2C1.4-2.9%2C3.3-3.5%2C5.4c-0.6%2C2.1-0.6%2C4.4%2C0%2C6.5c0.6%2C2.1%2C1.8%2C4%2C3.5%2C5.4c1.7%2C1.4%2C3.7%2C2.4%2C5.9%2C2.7c2.2%2C0.3%2C4.4%2C0%2C6.4-0.9%0D%0A%09%09c2-0.9%2C3.7-2.4%2C4.9-4.2c1.2-1.8%2C1.8-4%2C1.8-6.2C502.2%2C251%2C501.6%2C248.9%2C500.4%2C247z%20M499.6%2C258.9c-1.1%2C1.7-2.7%2C3.1-4.5%2C3.9%0D%0A%09%09c-1.8%2C0.8-3.9%2C1.2-5.9%2C0.8c-2-0.3-3.9-1.1-5.4-2.5c-1.5-1.3-2.6-3.1-3.2-5c-0.6-1.9-0.6-4%2C0-5.9c0.6-1.9%2C1.7-3.7%2C3.2-5%0D%0A%09%09c1.5-1.3%2C3.4-2.2%2C5.4-2.5c2-0.3%2C4.1%2C0%2C5.9%2C0.8c1.8%2C0.8%2C3.4%2C2.2%2C4.5%2C3.9c1.1%2C1.7%2C1.6%2C3.7%2C1.7%2C5.7%0D%0A%09%09C501.3%2C255.2%2C500.7%2C257.2%2C499.6%2C258.9z%22/%3E%0D%0A%09%3Cpath%20opacity%3D%220.48%22%20fill%3D%22%23282A1F%22%20d%3D%22M510.7%2C253.2c0-0.7-0.1-1.5-0.1-2.2c1.1-0.5%2C2.3-1.2%2C3.4-1.8c-0.3-1.8-0.8-3.5-1.5-5.1%0D%0A%09%09c-1.3%2C0-2.6%2C0.1-3.8%2C0.3c-0.3-0.7-0.7-1.3-1.1-1.9c-0.4-0.6-0.8-1.2-1.3-1.8c0.7-1.1%2C1.3-2.2%2C1.8-3.4c-1.2-1.3-2.6-2.5-4-3.5%0D%0A%09%09c-1.1%2C0.7-2.1%2C1.5-3.1%2C2.3c-0.6-0.4-1.3-0.7-1.9-1c-0.6-0.3-1.4-0.5-2-0.8c0-1.3-0.1-2.5-0.3-3.8c-1.7-0.5-3.5-0.7-5.3-0.8%0D%0A%09%09c-0.5%2C1.2-1%2C2.4-1.3%2C3.6c-0.7%2C0-1.5%2C0.1-2.2%2C0.2c-0.7%2C0.1-1.4%2C0.2-2.1%2C0.4c-0.7-1-1.5-2.1-2.3-3.1c-1.7%2C0.6-3.3%2C1.3-4.9%2C2.2%0D%0A%09%09c0.2%2C1.3%2C0.5%2C2.5%2C0.8%2C3.7c-0.6%2C0.4-1.2%2C0.8-1.7%2C1.3c-0.5%2C0.5-1.1%2C1-1.6%2C1.5c-1.2-0.5-2.4-1-3.6-1.3c-1.1%2C1.4-2.1%2C2.9-2.9%2C4.5%0D%0A%09%09c0.9%2C1%2C1.8%2C1.9%2C2.7%2C2.7c-0.2%2C0.7-0.5%2C1.4-0.7%2C2.1c-0.2%2C0.7-0.4%2C1.4-0.5%2C2.1c-1.2%2C0.2-2.5%2C0.5-3.8%2C0.8c-0.2%2C1.8-0.2%2C3.5%2C0%2C5.3%0D%0A%09%09c1.3%2C0.4%2C2.5%2C0.6%2C3.8%2C0.8c0.1%2C0.7%2C0.3%2C1.4%2C0.5%2C2.1c0.2%2C0.7%2C0.5%2C1.4%2C0.7%2C2.1c-0.9%2C0.8-1.8%2C1.7-2.7%2C2.7c0.8%2C1.6%2C1.8%2C3.1%2C2.9%2C4.5%0D%0A%09%09c1.2-0.4%2C2.5-0.8%2C3.6-1.3c0.5%2C0.6%2C1%2C1%2C1.6%2C1.5c0.5%2C0.5%2C1.1%2C0.9%2C1.7%2C1.3c-0.3%2C1.2-0.6%2C2.5-0.8%2C3.7c1.5%2C0.9%2C3.2%2C1.7%2C4.9%2C2.2%0D%0A%09%09c0.8-1%2C1.6-2%2C2.3-3.1c0.7%2C0.2%2C1.4%2C0.3%2C2.1%2C0.4c0.7%2C0.1%2C1.4%2C0.2%2C2.2%2C0.2c0.4%2C1.2%2C0.8%2C2.4%2C1.3%2C3.6c1.8-0.1%2C3.6-0.3%2C5.3-0.8%0D%0A%09%09c0.2-1.3%2C0.3-2.5%2C0.3-3.8c0.7-0.3%2C1.4-0.5%2C2-0.8c0.7-0.3%2C1.3-0.6%2C1.9-1c1%2C0.8%2C2%2C1.6%2C3.1%2C2.3c1.4-1%2C2.8-2.2%2C4-3.5%0D%0A%09%09c-0.6-1.2-1.1-2.3-1.8-3.4c0.4-0.6%2C0.9-1.1%2C1.3-1.8c0.4-0.6%2C0.8-1.2%2C1.1-1.9c1.3%2C0.2%2C2.5%2C0.3%2C3.8%2C0.3c0.7-1.7%2C1.2-3.4%2C1.5-5.1%0D%0A%09%09c-1.1-0.7-2.2-1.3-3.4-1.8C510.6%2C254.7%2C510.7%2C253.9%2C510.7%2C253.2z%20M495.5%2C263.7c-2%2C0.9-4.2%2C1.3-6.4%2C0.9c-2.2-0.3-4.2-1.2-5.9-2.7%0D%0A%09%09c-1.7-1.4-2.9-3.3-3.5-5.4c-0.6-2.1-0.6-4.4%2C0-6.5c0.6-2.1%2C1.8-4%2C3.5-5.4c1.7-1.4%2C3.7-2.4%2C5.9-2.7c2.2-0.3%2C4.4%2C0%2C6.4%2C0.9%0D%0A%09%09c2%2C0.9%2C3.7%2C2.4%2C4.9%2C4.2c1.2%2C1.8%2C1.8%2C4%2C1.8%2C6.2c0%2C2.2-0.6%2C4.4-1.8%2C6.2C499.2%2C261.2%2C497.5%2C262.8%2C495.5%2C263.7z%22/%3E%0D%0A%09%3Cpath%20opacity%3D%220.48%22%20fill%3D%22%23282A1F%22%20d%3D%22M499.6%2C247.5c-1.1-1.7-2.7-3.1-4.5-3.9c-1.8-0.8-3.9-1.2-5.9-0.8c-2%2C0.3-3.9%2C1.1-5.4%2C2.5%0D%0A%09%09c-1.5%2C1.3-2.6%2C3.1-3.2%2C5c-0.6%2C1.9-0.6%2C4%2C0%2C5.9c0.6%2C1.9%2C1.7%2C3.7%2C3.2%2C5c1.5%2C1.3%2C3.4%2C2.2%2C5.4%2C2.5c2%2C0.3%2C4.1%2C0%2C5.9-0.8%0D%0A%09%09c1.8-0.8%2C3.4-2.2%2C4.5-3.9c1.1-1.7%2C1.6-3.7%2C1.7-5.7C501.3%2C251.2%2C500.7%2C249.2%2C499.6%2C247.5z%20M494.2%2C260.9c-1.4%2C0.6-3.1%2C0.9-4.7%2C0.7%0D%0A%09%09c-1.6-0.2-3.1-0.9-4.3-2c-1.2-1.1-2.1-2.5-2.6-4c-0.4-1.5-0.4-3.2%2C0-4.7c0.5-1.5%2C1.3-2.9%2C2.6-4c1.2-1.1%2C2.7-1.8%2C4.3-2%0D%0A%09%09c1.6-0.3%2C3.3%2C0%2C4.7%2C0.7c1.5%2C0.7%2C2.7%2C1.8%2C3.6%2C3.1c0.9%2C1.4%2C1.3%2C2.9%2C1.3%2C4.5c0%2C1.6-0.5%2C3.2-1.3%2C4.5C497%2C259.1%2C495.7%2C260.2%2C494.2%2C260.9%0D%0A%09%09z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');

body, html {
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: fixed;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $darkPrimary;
        background-image: $widgetIcon;
        background-size:3%;
        opacity: 0.7;
        background-attachment: fixed;
        background-position: center center;
    }
}

#headerImage {
    width: 50%;
    margin: 0 auto;
    display: block;
}

#content {
    background: white;
    box-shadow: 0px 1px 5px 2px rgba(35,35,35,0.8);
    margin-top: 20px;
    border-radius: 10px;
    padding: 0 10px;
}

#ajaxContentHolder {
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.1);
    z-index: 11;
    color:black;
    font-size:18px;
}
#centerContent {
    position: absolute;
    left: 50%;
    top:50%;
}
.tooltip {
    font-size:1.5rem;
    text-align:left;
}
#spinnerText {
    position: relative;
    left: -50%;
    top:-50%;
    p {
        margin-top:-15%;
    }
}

.contentText {
    padding:10px;
}

/* Overwrite Bootstrap */

a.list-group-item {
    color: $infoColor;
    &:hover{
        background-color: $lightPrimary;
    }
}

/* Helper Files */
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.btn-file {
    position: relative;
    overflow: hidden;
    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color:white;
}
